#siteWideAlert {
	background-image: url("http://newsimg.bbc.co.uk/shared/img/sitewidealert/sprite.gif"); background-repeat: no-repeat;
}
#siteWideAlert p {
	background-image: url("http://newsimg.bbc.co.uk/shared/img/sitewidealert/sprite.gif"); background-repeat: no-repeat;
}
#siteWideAlert h1 span {
	background-image: url("http://newsimg.bbc.co.uk/shared/img/sitewidealert/sprite.gif"); background-repeat: no-repeat;
}
.newsAlert a:link {
	color: rgb(255, 255, 255);
}
.newsAlert a:visited {
	color: rgb(255, 255, 255);
}
.newsAlert a:hover {
	color: rgb(255, 255, 255);
}
.newsAlert a:active {
	color: rgb(255, 255, 255);
}
#siteWideAlert h1 a {
	color: rgb(255, 255, 255);
}
.sportAlert a:link {
	color: rgb(0, 0, 0);
}
.sportAlert a:visited {
	color: rgb(0, 0, 0);
}
.sportAlert a:hover {
	color: rgb(0, 0, 0);
}
.sportAlert a:active {
	color: rgb(0, 0, 0);
}
#siteWideAlert {
	background-position: -803px 0px; margin: 0px 0px 8px; width: 792px; position: relative; background-color: rgb(0, 0, 0);
}
#siteWideAlert h1 {
	font: bold 1.5em/normal arial; padding: 6px 0px 6px 15px; width: 755px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
#siteWideAlert h1 span {
	background-position: -1783px 3px; padding: 0px 10px 0px 0px; text-transform: uppercase;
}
#siteWideAlert p {
	padding: 3px 10px 7px 14px; font-size: 1.3em;
}
.newsAlert p {
	background-position: left bottom; color: rgb(255, 255, 255); background-color: rgb(153, 0, 0);
}
.sportAlert p {
	background-position: right bottom; color: rgb(0, 0, 0); background-color: rgb(255, 230, 0);
}
table.datetools {
	width: 786px;
}
table.storycontent {
	width: 786px;
}
#siteWideAlert p.close_alert {
	background-position: -1667px 4px; padding: 2px 0px; top: 3px; right: 2px; display: block; position: absolute; background-color: rgb(0, 0, 0);
}
#siteWideAlert p.close_alert a {
	padding: 0px 20px 0px 0px; color: rgb(255, 255, 255);
}
p.close_alert span {
	left: -50000px; top: -50000px; position: absolute;
}
